$primary: #3C096C;
$primary-darker: #10002B;
$gradient-second: rgba(221,114,78,1);
//$tart: #F0544F;
$tart: #fff;
$text: #fff;
$accent: #9D4EDD;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    //background: linear-gradient(135deg, $primary 0%, $gradient-second 100%);
    background: url('../src/background.jpg') 50% 50% / cover;
    font-family: 'Pangolin', cursive;
    color: $primary-darker;
    background-image: linear-gradient( 110deg,  rgba(177,173,219,1) 11.2%, rgba(245,226,226,1) 91.1% );
    position: relative;
    overflow: hidden;
    .svg-back {
        position: absolute;
        width: 100%;
        height: 100%;
        background: url('../src/svg/wave.svg') 96% 80% / cover no-repeat;
        opacity: 1;
        transition: all 0.5s ease;
    }
}

a {
    text-decoration: none;
    transition: all 0.35s ease;
    &:hover {
        color: $primary;
    }
}

.span {

    color: $primary-darker;
}

.container {
    position: relative;
    width: 90%;
    height: 100vh;
    margin: 0  auto;
    padding: 20px;
    display: flex;
}

.portfolio {
    position: relative;
    min-width: 250px;
    max-width: 310px;
    height: auto;
    
    &__avatar {
        border-radius: 50px 50px 10px 50px;
        border: 5px solid $primary-darker;
        margin-bottom: 5px;
        width: 100%;
        height: 100%;
        overflow: hidden;
        transition: all ease 0.35s;
        cursor: pointer;
        // box-shadow: 0px 12px 18px -4px rgba(0,0,0,0.49);
        &:hover {
            border-color: $tart;
            background-color: $tart;
        }
        padding: 4px;
    }
    &__main {
        color: $text;
        padding: 4px;
        // background: linear-gradient(180deg, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 90%);
        margin-bottom: 20px;
    }
    &__label {
        width: 100%;
        margin-bottom: 15px;
        font-size: 32px;
        text-align: center; 
        &-aka {
            font-size: 14px;
        } 
    }
    &__image {
        
        position: relative;
        cursor: pointer;
        // background: rgba(255, 255, 255, 0.5);
        // border-radius: 50px 50px 0px 0px;
    }
    &__social {
        position: absolute;
        left: -24px;
        top: 40px;
        // width: 100%;
        // height: 100%;
        margin-bottom: 5px;
        text-align: left;
        display: flex;
        flex-direction: column;
        i {
            font-size: 48px;
            color: $text;
            //margin-left: 20px;
            background: $primary-darker;
            border: 4px solid $primary-darker;
            border-radius: 50%;
            transition: all ease 0.35s;
            &:hover {
                color: $primary-darker;
                background: $tart;
                border-color: $tart;
            }
        }
        a + a {
            margin-top: 15px;
        }
    }
    &__shortinfo {
        font-size: 18px;
        cursor: pointer;
        i {
            font-size: 18px;
            margin-right: 5px;
        }
        input {
            width: 0px;
            border: none;
            background: none;
            font: inherit;
            font-size: 14px;
            color: inherit;
        }
        button {
            border: none;
            padding: 5px;
            background: none;
            font: inherit;
            color: inherit;
        }
    }
    &__show-portfolio {
        width: 100%;
        padding: 20px 15px;
        font-size: 26px;
        font-weight: 900;
        font-family: inherit;
        color: $text;
        background: $primary;
        border: 5px solid $primary-darker;
        border-radius: 25px;
        transition: all ease 0.35s;
        box-shadow: 0px 12px 18px -4px rgba(0,0,0,0.49);
        cursor: pointer;
        &:hover {
            transform: scale(1.03);
            border-color: $tart;
        }
    }
}

.button-copy {
    cursor: pointer;
    transition: all 0.35s ease;
    &:hover {
        color: $text;
    }
}

article {
    margin-left: 30px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    h1 {
        font-size: 30px;
        width: 100%;
        height: 24px;
        margin-bottom: 20px;
    }
    .information {
        font-size: 22px;
    }
}


    .block {
        color: red;
        position: relative;
        min-width: 200px;
        max-width: 300px;
        min-height: 75%;
        height: auto;
        border: 5px solid $primary-darker;
        border-radius: 20px;
        margin: 10px;
        padding: 25px;
        background: rgba(0,255,123,0.5);
        box-shadow: 0px 12px 18px -4px rgba(0,0,0,0.49);
        transition: all ease 0.35s;
        //overflow: hidden;
        cursor: pointer;
        &:hover {
            background: rgba(0,255,123,0.75);
            transform: scale(1.03);
            border-radius: 10px;
            border-color: $tart;
        }
        &__label {
            font-size: 32px;
            font-weight: 800;
            text-transform: uppercase;
            color: $primary-darker;
            margin-bottom: 15px;
            transition: all ease 0.35s;
        }
        &__info {
            font-size: 20px;
            color: $primary-darker;
            ul {
                list-style-type: none;
                li {
                    margin-bottom: 15px;
                }
                li:nth-child(2n-1):before {
                    content: '◇ ';
                }
                li:nth-child(2n):before {
                    content: '◆ ';
                }
            }
            
        }
        &__showButton {
            font-size: 24px;
            position: absolute;
            bottom: -30px;
            left: 50%;
            transform: translate(-50%, 0); 
            padding: 5px 40px;
            border: 5px solid $primary;
            border-radius: 25px;
            background-color: $primary-darker;
            text-align: center;
            color: $text;
            transition: all ease 0.35s;
        }
        &__img {
            position: relative;
            width: 100%;
            height: 90%;
            overflow: hidden;
            display: flex;
            align-items: center;
            img {
                width: 100%;
                overflow: hidden;
            }
        }
    }

    .portfolio__block {
        height: 600px;
        width: 400px;
        max-width: 400px;
        .block__label {
            font-size: 20px;
            text-align: center;
        }
        &:hover {
            transform: none;
            .block__showButton {
                border-color: $text;
            }
        }
    }


// #vue-block {
//     background-image: linear-gradient(-35deg, rgba(60,9,108,1) 0%, rgba(0,255,123,1) 100%);
// }
// #html-block {
//     background-image: linear-gradient(-35deg, rgba(60,9,108,1) 0%, rgba(0,224,255,1) 100%);
// }
// #css-block {
//     background-image: linear-gradient(-35deg, rgba(60,9,108,1) 0%, rgba(255,0,0,1) 100%);
// }
// #js-block {
//     background-image: linear-gradient(-35deg, rgba(60,9,108,1) 0%, rgba(255,115,0,1) 100%);
// }


.nav {
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
    overflow: hidden;
    .tab {
        position: relative;
        padding: 5px 15px;
        height: 80px;
        min-width: 100px;
        width: auto;
        top:45px;
        text-align: center;
        border: 5px solid $primary;
        border-bottom: none;
        border-radius: 25px 25px 0px 0px;
        background-color: $accent;
        transition: all ease 0.35s;
        cursor: pointer;
        
        &:hover {
            color: $tart;
            top: 35px;
        }
    }
    .active {
        background-color: $primary;
        color: $text;
    }
}

#mePage {
    position: relative;
    display: flex;
    flex-direction: column;
    h1 {
        margin-bottom: 50px;
    }
    .me__text {
        font-size: 18px;
        ul {
            margin-left: 20px;
            list-style-type: none;
        }
    }
}

.anim-rotate-wrapper {
    top: 20px;
    left: -10%;
    position: absolute;
    padding: 2px;
    display: flex;
    width: 140%;
    height: 60px;
    align-items: flex-end;
    z-index: -1;
}

.anim-rotate {
    height: 20px;
    width: 40px;
    display: block;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-name: kickflip;
    animation-direction: normal; 
    animation-timing-function: ease-in;
    img {
        width: 100%;
        height: 100%;
    }
}

@keyframes kickflip {
    0% {
        margin-left:0;
        left: 0;
        transform: rotateY(0deg);
    }
    55% {
        margin-bottom: 0px;
        transform: rotate(0deg);
    }
    60% {
        margin-bottom: 25px;
        transform: rotate(-25deg) rotateX(180deg);
    }
    65% {
        transform: rotate(25deg);
    }
    70% {
        margin-bottom: 0px;
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-15deg);
    }
    80% {
        transform: rotate(-10deg) rotateY(0deg);
    }
    100% {
        margin-left: 95%;
        left:100%;
    }
}

@keyframes ollie {
    0% {
        margin-left:0;
        left: 0;
    }
    55% {
        margin-bottom: 0px;
        transform: rotate(0deg);
    }
    60% {
        margin-bottom: 25px;
        transform: rotate(-25deg);
    }
    65% {
        transform: rotate(25deg);
    }
    70% {
        margin-bottom: 0px;
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-15deg);
    }
    80% {
        transform: rotate(-10deg);
    }
    100% {
        margin-left: 95%;
        left:100%;
    }
}

@keyframes manual {
    0% {
        margin-left:0;
        left: 0;
        transform: rotateY(0deg);
    }
    20% {
        transform: rotate(0deg);
    }
    30% {
        transform: rotate(-15deg);
    }
    45% {
        transform: rotate(-5deg);
    }
    60% {
        transform: rotate(-15deg);
    }
    75% {
        transform: rotate(-10deg);
    }
    80% {
        transform: rotate(0deg) rotateY(0deg);
    }
    100% {
        margin-left: 95%;
        left:100%;
    }
}

@keyframes lateflip {
    0% {
        margin-left:0;
        left: 0;
        transform: rotateY(0deg);
    }
    55% {
        margin-bottom: 0px;
        transform: rotate(0deg);
    }
    60% {
        margin-bottom: 15px;
        transform: rotate(-25deg) rotateZ(45deg);
    }
    65% {
        transform: rotate(25deg) rotateZ(15deg);
    }
    70% {
        margin-bottom: 0px;
        transform: rotate(25deg) rotateZ(0deg);
    }
    75% {
        transform: rotate(25deg) rotateZ(0deg);
    }
    80% {
        transform: rotate(20deg) rotateY(0deg) rotateZ(0deg);
    }
    100% {
        margin-left: 95%;
        left:100%;
        transform: rotateZ(0deg);
    }
}

#portfolio-main {
    display: flex;
    justify-content: space-around;
}




